spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

datasource:
  primary:
    jdbc-url: jdbc:postgresql://pg-1d1a8803-asilvadesa-7b61.c.aivencloud.com:21713/defaultdb
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  secondary:
    jdbc-url: jdbc:postgresql://pg-1d1a8803-asilvadesa-7b61.c.aivencloud.com:21713/school-management
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
